In [13]:
a, b = map(int, input('정수 2개 입력: ').split())
print(a, '+', b, '=', a+b)
print(a, '-', b, '=', a-b)
print(a, '*', b, '=', a*b)
print(a, '/', b, '=', a/b)
print(a, '//', b, '=', a//b)
print(a, '%', b, '=', a%b)
print(a, '**', b, '=', a**b)

정수 2개 입력:  2 2

2 + 2 = 4
2 - 2 = 0
2 * 2 = 4
2 / 2 = 1.0
2 // 2 = 1
2 % 2 = 0
2 ** 2 = 4

In [27]:
#홍길동 다음에 공백없고 22다음에 공백없음
a = input('이름: ')
b = int(input('나이: '))
print('나는 ', a, '이고. ', '나이는 ', b, '살이다', sep = '')

이름:  홍길동
나이:  22

나는 홍길동이고. 나이는 22살이다

In [26]:
a = float(input('반지름 입력: '))
pi = 3.14
print('원의 반지름은 ', a, '입니다', sep = '')
print('원의 둘레은 ', 2*pi*a , '입니다', sep = '')
print('원의 면적은 ', pi*(a**2), '입니다', sep = '')

반지름 입력:  8

원의 반지름은 8.0입니다
원의 둘레은 50.24입니다
원의 면적은 200.96입니다

In [ ]:
c = float(input('섭씨 입력: '))
f = c * 9/5 + 32
k = c + 273.15  
r = c * 9/5 + 491.67
print('화씨는 ', f, '입니다', sep = '')
print('켈빈은 ', k, '입니다', sep = '')
print('랭킨은 ', format(r, ".2f"), '입니다', sep = '')

In [50]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i, '*', j, "=", i*j, sep='', end='')
        if j < 9:
            print(",\t", end='')
    print()

2*1=2,	2*2=4,	2*3=6,	2*4=8,	2*5=10,	2*6=12,	2*7=14,	2*8=16,	2*9=18
3*1=3,	3*2=6,	3*3=9,	3*4=12,	3*5=15,	3*6=18,	3*7=21,	3*8=24,	3*9=27
4*1=4,	4*2=8,	4*3=12,	4*4=16,	4*5=20,	4*6=24,	4*7=28,	4*8=32,	4*9=36
5*1=5,	5*2=10,	5*3=15,	5*4=20,	5*5=25,	5*6=30,	5*7=35,	5*8=40,	5*9=45
6*1=6,	6*2=12,	6*3=18,	6*4=24,	6*5=30,	6*6=36,	6*7=42,	6*8=48,	6*9=54
7*1=7,	7*2=14,	7*3=21,	7*4=28,	7*5=35,	7*6=42,	7*7=49,	7*8=56,	7*9=63
8*1=8,	8*2=16,	8*3=24,	8*4=32,	8*5=40,	8*6=48,	8*7=56,	8*8=64,	8*9=72
9*1=9,	9*2=18,	9*3=27,	9*4=36,	9*5=45,	9*6=54,	9*7=63,	9*8=72,	9*9=81

In [62]:
for i in range(1, 10):
    for j in range(2, 10):
        print(j, '*', i, "=", i*j, sep='', end='')
        if j < 9:
            print(",\t", end='')
    print()

2*1=2,	3*1=3,	4*1=4,	5*1=5,	6*1=6,	7*1=7,	8*1=8,	9*1=9
2*2=4,	3*2=6,	4*2=8,	5*2=10,	6*2=12,	7*2=14,	8*2=16,	9*2=18
2*3=6,	3*3=9,	4*3=12,	5*3=15,	6*3=18,	7*3=21,	8*3=24,	9*3=27
2*4=8,	3*4=12,	4*4=16,	5*4=20,	6*4=24,	7*4=28,	8*4=32,	9*4=36
2*5=10,	3*5=15,	4*5=20,	5*5=25,	6*5=30,	7*5=35,	8*5=40,	9*5=45
2*6=12,	3*6=18,	4*6=24,	5*6=30,	6*6=36,	7*6=42,	8*6=48,	9*6=54
2*7=14,	3*7=21,	4*7=28,	5*7=35,	6*7=42,	7*7=49,	8*7=56,	9*7=63
2*8=16,	3*8=24,	4*8=32,	5*8=40,	6*8=48,	7*8=56,	8*8=64,	9*8=72
2*9=18,	3*9=27,	4*9=36,	5*9=45,	6*9=54,	7*9=63,	8*9=72,	9*9=81

In [63]:
a, b = map(int, input('정수 두개를 입력하세요: ').split())
s = input('v 또는 h를 입력하세요: ')

if(a > b):
    temp = b
    b = a
    a = temp

if(s == 'v'):
    for i in range(1, 10):
        for j in range(a, b+1):
            print(j, '*', i, "=", i*j, sep='', end='')
            if j < b:
                print(",\t", end='')
        print()
elif(s == 'h'):
    for i in range(a, b+1):
        for j in range(1, 10):
            print(i, '*', j, "=", i*j, sep='', end='')
            if j < b:
                print(",\t", end='')
        print()

정수 두개를 입력하세요:  4 2
v 또는 h를 입력하세요:  v

2*1=2,	3*1=3,	4*1=4
2*2=4,	3*2=6,	4*2=8
2*3=6,	3*3=9,	4*3=12
2*4=8,	3*4=12,	4*4=16
2*5=10,	3*5=15,	4*5=20
2*6=12,	3*6=18,	4*6=24
2*7=14,	3*7=21,	4*7=28
2*8=16,	3*8=24,	4*8=32
2*9=18,	3*9=27,	4*9=36